* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button,
label,
input {
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 2.488rem;
	font-weight: 700;
	line-height: 3.5rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2.074rem;
	color: #023047;
}

h3 {
	font-size: 1.728rem;
}

h4 {
	font-size: 1.44rem;
}

h5 {
	font-size: 1.125rem;
}

p {
	font-size: 1rem;
}

main p,
main h3,
.wrapper-form-book h4 {
	color: #023047;
}

.padding-x {
	padding-right: 5%;
	padding-left: 5%;
}

.padding-y {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

main {
	position: relative;
}

/* Bagian header  */
.header {
	width: 100%;
	height: 100vh;
	background: url("../images/header-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}

.header-logo {
	position: absolute;
	top: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.header-logo img {
	margin-right: 0.7rem;
	width: 2.5rem;
}

.header-hero {
	height: 100%;
	width: 50%;
	justify-content: center;
}

.header-hero-h-span,
.section-welcoming-span-h {
	color: #ffb703;
}

.p-hero {
	line-height: 1.7rem;
	margin-bottom: 1.5rem;
}

.header-hero a {
	display: block;
	width: 8.75rem;
}

.btn-style {
	padding: 0.7rem 1rem;
	background-color: #02304700;
	font-weight: 500;
	color: #fff;
	border: 1.5px solid #fb8500;
	opacity: 0.9;
	cursor: pointer;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
	-webkit-transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
	-moz-transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
	-ms-transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
	-o-transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.btn-style:hover {
	background-color: #023047;
	opacity: 1;
}

/* bagian welcome user */
.section-welcoming-span-h {
	cursor: pointer;
}

#books-total {
	font-weight: bold;
	color: #ffb703;
}

/* ini bagian search dan list buku */
.section-wrapper-books {
	padding-bottom: 5rem;
}
.container-search-list-books {
	place-content: center;
	margin-bottom: 4rem;
}

.container-search-list-books form input {
	margin-right: 1rem;
	width: 30rem;
	height: 3rem;
	font-size: 1rem;
	padding: 0.7rem 1rem;
	border: 2px solid #023047;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.button-add-book {
	display: grid;
	place-items: center;
	padding-left: 2px;
	width: 3rem;
	height: 3rem;
	border: 2px solid #ffb703;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	cursor: pointer;
}

.button-add-book i {
	font-size: 2rem;
	font-weight: 600;
	color: #023047;
}

.wrapper-list-books {
	gap: 3rem;
	align-items: flex-start;
}

.container-list-books {
	width: 50%;
	padding: 1.2rem 1.2rem 0.2rem;
	box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.container-list-books h3 {
	font-weight: 600;
	margin-bottom: 1rem;
}

.card-book {
	align-items: center;
	margin-bottom: 1rem;
	padding: 0.7rem;
	background-color: #f2f5f8;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.card-book img {
	margin-right: 1rem;
	width: 7rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.inner-card {
	justify-content: space-between;
	width: 100%;
}

.text-card {
	justify-content: center;
}

.text-card h4 {
	font-weight: 500;
	margin-bottom: 0.2rem;
	color: #023047;
}

.button-card {
	justify-content: center;
}

.button-card button {
	width: 30px;
	height: 30px;
	background-size: contain;
	cursor: pointer;
	border: none;
}

.button-edit {
	background-image: url("../images/pen.png");
	margin-bottom: 10px;
}

.button-check {
	background-image: url("../images/checked.png");
	margin-bottom: 10px;
}

.button-trash {
	background-image: url("../images/trash-bin.png");
}

.button-undo {
	background-image: url("../images/refresh-arrow.png");
	margin-bottom: 10px;
}

/* Ini bagian footer */
footer {
	background-color: #023047;
	color: #fff;
	text-align: center;
}

/* ini bagian form */
.close-form-book,
.close-form-username,
.close-dialogue-remove,
.close-edit-book {
	position: absolute;
	top: 0.3rem;
	right: 1rem;
	font-size: 2rem;
	color: #333;
	cursor: pointer;
	border: none;
	background: none;
}

.hidden {
	display: none;
}

.wrapper-form-book,
.wrapper-form-username,
.card-dialogue-remove,
.wrapper-edit-book {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background-color: white;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 10;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.wrapper-form-book h4,
.wrapper-form-username h4,
.wrapper-edit-book h4 {
	margin-bottom: 1rem;
}

#form-book,
#form-username,
#edit-book {
	text-align: right;
}

.form-label-group {
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 0.2rem;
}

.form-label-group label {
	font-weight: 500;
	color: #023047;
	opacity: 0.9;
}

.wrapper-count-character,
.wrapper-count-username,
.wrapper-count-character-edit {
	visibility: hidden;
	font-size: 0.7rem;
}

#form-book input,
#form-username input,
#edit-book input {
	display: block;
	padding: 0.6rem 1rem;
	margin-bottom: 0.7rem;
	width: 100%;
	border: 1.5px solid #023047;
	outline-color: #ffb703;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.btn-submit {
	margin-top: 0.5rem;
	padding: 0.6rem 1rem;
	color: #fb8500;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.btn-submit:hover {
	color: #fff;
}

/* Ini bagian dialogue remove */
.wrapper-button-dialogue {
	margin-top: 2rem;
	gap: 2rem;
}

.wrapper-button-dialogue button {
	width: 50%;
}

.yes-button:hover {
	background-color: red;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
}
